<body>
  <h2>Scan Package</h2>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-auto">
      <div class = "row">
        <input type="text" [formControl]="PackageID"
          placeholder="Package ID">
      </div>
      <br>
      <div class="row">
        <!--<input type="text" [formControl]="TruckNum" placeholder="Truck Number">-->
        <mat-form-field>
          <mat-label>Truck Number</mat-label>
          <mat-select [(ngModel)]="TruckNum" name="truck">
            <mat-option *ngFor="let truck of trucks" [value]="truck">
              {{truck.TruckID}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class = "row">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="ChosenLocationKind">
          <mat-radio-button
            class="example-radio-button"
            *ngFor="let kind of LocationKinds" [value]="kind">
            {{kind}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="ChosenLocationKind == 'Final Address' ; then thenLocBlock else elseLocBlock"></div>
      <ng-template #thenLocBlock>

      </ng-template>
      <ng-template #elseLocBlock>
        <div class="row">
          <br>
          <select [(ngModel)]="LocationID" name="location">
            <option *ngFor="let location of locations" [value]="location">
              {{location.LocationID}}
            </option>
          </select>
        </div>
      </ng-template>
      <br>
      <div class = "row">
        <button mat-raised-button (click)="scanPackage()">Scan</button>
      </div>
    </div>
  </div>
</body>
