body {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  padding: 0px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.mat-card {
  height: 100%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}
