<body>
  <!-- Customer Email, or button to make new customer-->

  <h2>Ship A Package</h2>
  <mat-divider></mat-divider>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <h3>Customer Information</h3>
      <p>Enter the customer's account email:</p>
      <input type="text" [formControl]="CustomerEmail" placeholder="Email Address">
    </div>
    <div class="col-sm-6">
      <br>
      <br>
      <br>
      <p>If not a returning Customer:</p>
      <button mat-raised-button>Make Customer Account</button>
    </div>
  </div>

  <br>
  <br>

  <!-- Added for if customer is not registered-->
  <!-- Package //need a way to do more then one for the trasaction,-->
  <form class="row" [formGroup]="PackageForm">
    <div class="col-sm-6" >
      <h3>Sending To Address</h3>
      <br>
      <p>House number</p>
      <input type="text" formControlName="HouseNumber" placeholder="1234">
      <p>Street</p>
      <input type="text" formControlName="Street" placeholder="Main Street">
      <p>City</p>
      <input type="text" formControlName="City" placeholder="Houston">
      <p>State Initials</p>
      <input type="text" formControlName="State" placeholder="TX">
      <p>ZipCode</p>
      <input type="text" formControlName="ZipCode" placeholder="77032">
    </div>

    <div class="col-sm-6">
      <h3>Package Stats</h3>
      <br>
      <p>Weight </p>
      <input type="text" formControlName="Weight" placeholder="12.2">
      <p>Size </p>
      <input type="text" formControlName="Size" placeholder="12x14x8">
      <p>ETA </p>
      <input type="text" formControlName="ETA" placeholder="2019-03-25">
    </div>
  </form>

  <br>
  <br>

  <!-- Transacton-->
  <form class="row">
    <div class="col-sm-6">
      <h3>Payment Information</h3>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
        [(ngModel)]="ChosenPaymentKind"
        name="PaymentKindChooser">
        <mat-radio-button
          class="example-radio-button"
          *ngFor="let kind of PaymentKinds" [value]="kind">
          {{kind}}
        </mat-radio-button>
      </mat-radio-group>
      <!-- <input type="checkbox" [checked]="Cash" (change)="Cash = !Cash"/>Cash<br> -->
      <!-- <input type="checkbox" [checked]="CreditCard" (change)="CreditCard = !CreditCard"/>CreditCard<br> -->

      <div *ngIf="ChosenPaymentKind == 'Credit Card'" [formGroup]="TransactionForm">
        <p>Cardholder First Name</p>
        <input type="text" formControlName="FnameCC" placeholder="John">
        <p>Cardholder Middle Initial</p>
        <input type="text" formControlName="MInitCC" placeholder="M">
        <p>Cardholder Last Name</p>
        <input type="text" formControlName="LnameCC" placeholder="Doe">
        <p>Credit Card number</p>
        <input type="text" formControlName="CCnumner" placeholder="1234-2342-1231-5555">
      </div>
    </div>
    <div class="col-sm-6">
      <h3>Cost</h3>

      <mat-list>
        <mat-list-item>
          <p mat-line>Cost</p>
          <div>${{Cost | number: '1.2-2'}}</div>
        </mat-list-item>
        <mat-list-item>
          <p mat-line>Tax</p>
          <div>${{Tax | number: '1.2-2'}}</div>
        </mat-list-item>
        <mat-list-item>
          <p mat-line>Total</p>
          <div>${{Total | number:'1.2-2'}}</div>
        </mat-list-item>
      <br>
      <button mat-raised-button (click)="CheckOut()">Check Out</button>
      </mat-list>
    </div>
  </form>

  <div class="row">
    <div class="col-sm-12"></div>
  </div>


  <br>
  <br>
  <br>
  <br>
</body>
