<body>
<h2>Personal Details</h2>
<mat-divider></mat-divider>
<br>

<div class="container">
  <form class="row" [formGroup]="userAccountForm">

    <div class="col-md-4">
      <h3>Name</h3>
      <p>First</p><input type="text" formControlName="Fname">
      <p>Middle Initial</p><input type="text" formControlName="Mint">
      <p>Last</p><input type="text" formControlName="Lname">
    </div>


    <div class="col-md-4">
      <h3>Contact</h3>
      <p>Email</p><input type="text"  formControlName="Email">
      <p>Phone</p><input type="text" formControlName="PhoneNumber">
    </div>


    <div class="col-md-4">
      <h3>Address</h3>
      <p>House Number</p> <input type="text"  formControlName="HouseNumber">
      <p>Street</p><input type="text"  formControlName="Street">
      <br>
      <p>City</p><input type="text" formControlName="City">
      <p>State Initial</p><input type="text" formControlName="State">
      <p>Zip Code</p><input type="text" formControlName="Zip">

      <br>
      <br>

      <button mat-raised-button (click)="UpdateUser()">Save</button>
      <button mat-raised-button >Reset (fixME)</button>
    </div>
  </form>
</div>
</body>
