
<div clas>
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">
        <div class="card-body">
          <h2 class="card-title">Welcome to CougarShip</h2>
          <p class="card-text">Whether you ship packages to Poughkeepsie or pallets to Paris, we can get them to their destinations at a time and price that works for you.</p>
          <a routerLink="../tracking" class="btn btn-dark">Track your package >></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-deck">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title text-danger">Visit our store</h2>
        <p class="card-text">Need special items for your next shipment? Shop for boxes, stamps and more.</p>
        <a routerLink="../shop"  class="btn btn-dark">Go to store</a>
      </div>
  </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title text-danger">Employee Portal</h2>
        <p class="card-text">We're proud to count you as one of our own. Log in to help our customers.</p>
        <a routerLink="../login"  class="btn btn-dark">Employee Login</a>
      </div>
  </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h2 class="card-title text-danger">Customer Portal</h2>
        <p class="card-text">Get exclusive benefits when you open a CougarShip account.</p>
        <a routerLink="../login" class="btn btn-dark">Customer Login</a>
      </div>
  </div>
</div>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p class="text-danger" >&copy; CougarShip 2019</p>
</footer>
