<body>
  <h2>Customer Lookup</h2>
  <div class="User Lookup">
    <input type="text" [formControl]="Email" placeholder="User Email">
    <button mat-raised-button (click)="lookupUser()">Lookup</button>
    <br>
    <br>
  </div>

  <form class="row">

    <div class="col-md-4">
      <mat-toolbar>
        <span>Name</span>
      </mat-toolbar>
      <table mat-table [dataSource]="NameData" class="mat-elevation-z8">
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>Key</th>
          <td mat-cell *matCellDef="let element"> {{element.key}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element"> {{element.value}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"
          style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>


    <div class="col-md-4">
      <mat-toolbar>
        <span>Contact</span>
      </mat-toolbar>
      <table mat-table [dataSource]="ContactData" class="mat-elevation-z8">
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>Key</th>
          <td mat-cell *matCellDef="let element"> {{element.key}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element"> {{element.value}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"
          style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="col-md-4">
      <mat-toolbar>
        <span>Location</span>
      </mat-toolbar>
      <table mat-table [dataSource]="LocationData" class="mat-elevation-z8">
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef>Key</th>
          <td mat-cell *matCellDef="let element"> {{element.key}}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element"> {{element.value}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"
          style="display: none;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="col-md-4">
      <!-- <mat-card> -->
      <!-- <mat-card-header> -->
      <!-- <mat-card-title> -->
      <!-- Address -->
      <!-- </mat-card-title> -->
      <!-- </mat-card-header> -->
      <!-- <mat-card-content> -->
      <!-- <p>House Number</p> <input type="text"  formControlName="HouseNumber"> -->
      <!-- <p>Street</p><input type="text"  formControlName="Street"> -->
      <!-- <br> -->
      <!-- <p>City</p><input type="text" formControlName="City"> -->
      <!-- <p>State Initial</p><input type="text" formControlName="State"> -->
      <!-- <p>Zip Code</p><input type="text" formControlName="Zip"> -->
      <!-- </mat-card-content> -->
      <!-- </mat-card> -->
    </div>
  </form>

  <!-- <mat-card *ngFor="let Location of Locations"> -->
  <!-- <p class="name">PostOffice {{Location.LocationID}} -->
  <!-- <p class="address">{{Location.BuildingNumber}} {{Location.Street}} {{Location.ZipCode}} {{Location.City}} {{Location.State}} -->
  <!-- <p class="hours">Open: {{Location.Hours}} -->
  <!-- </mat-card> -->
</body>
