body {
  margin: auto;
  margin-top: 30px;
  width: 80%;
  padding: 0px;
}
.mat-elevation-z8 {
  box-shadow: none;
}

table {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

input{
  margin-left: 15px;
}

td td {
  width: 25%;
}

